aside{
  display:flex;
  justify-content:space-around;
  margin-bottom:2rem;
  &>*{
    cursor:pointer;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
  }
}
.aside--portfolio{
 .Square();
  background-color:black;
  font-weight: bold;
  color:white;
  text-decoration:none;
}
.aside--twitter{
  .Square();
  background-color:@blue-twitter;
  color:white;
  font-size:3 rem;
}